.heading {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--tk-primary);

}

.subHeading {
  font-size: 0.9em;
}

.card {
  display: flex;
    align-items: center;
    margin-top: 0;

  .button {
    display: flex;
    flex: 1;
    place-content: flex-end;
  }
}