@use "../../../styles/mixins";

.tableHead {
  white-space: nowrap;

  th {
    background-color: #462e7812;
    color: var(--hi-secondary-text) !important;
    padding: 0.75rem 0.625rem !important;
  }
}

.card {
  padding: 0 !important;
  overflow: hidden;

  .mantine-ScrollArea-viewport {
    padding-bottom: 0;
  }
}

.table {
  tr td,
  tr,
  th {
    padding: 15px !important;
    white-space: nowrap;
  }
}
