.option {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.optionLabel {
  font-size: 14px;
  font-weight: 500;
}

.optionSample {
  font-size: 13px;
  color: var(--mantine-color-dimmed);
  letter-spacing: 0.5px;
}
