.container {
  .tabsCard {
    padding: 0;
    box-shadow: none;
  }

  .tabWrapper {
    position: relative;
    margin-bottom: var(--hi-spacing-lg);

    .tabContent {
      position: relative;
      padding: var(--hi-spacing-lg);
    }

    .feeExample {
      padding: var(--hi-spacing-lg);
    }
  }

  .footer {
    margin-top: var(--hi-spacing-xl);
  }

  .card {
    padding: 0;
  }

  .heading {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--hi-primary);
  }

  .subHeading {
    font-size: 0.9em;
  }
}

