@use "../../../../styles/mixins.scss";

.sidebar {
  width: 350px;
  min-width: 250px;
  background-color: #ffffff;
  max-height: 100vh;
  overflow-y: auto;
  @include mixins.scrollbar();

  .coverImage {
    img {
      width: 100%;
    }
  }

  .checkoutSummary {
    position: relative;
    padding: 20px;

    h4 {
      margin-top: 0;
    }
  }
}
