@import "../../../../styles/mixins.scss";

.sidebar {
  width: 350px;
  min-width: 300px;
  background-color: #ffffff;

  .coverImage {
    img {
      width: 100%;
    }
  }

  .checkoutSummary {
    position: relative;
    padding: 20px;

    h4 {
      margin-top: 0;
    }
  }
}