.heading {
  padding: 10px 20px;
  margin-top: 20px;

  h3 {
    display: flex;
    align-items: center;
    margin-top: 0;

    button:first-child {
      margin-left: 10px;
    }
  }
}

.table {
  tr td, tr th {

    &:first-child {
      padding-left: 20px;
    }
  }

  div:first-child {
    padding-bottom: 0 !important;
  }
}

