.reportType {
  display: flex;
  gap: 20px;
  padding: 20px !important;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--hi-primary);
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    p, h3 {
      margin: 0;
      padding: 0;
    }
    h3 {
      margin-bottom: 5px;
    }
  }

  .rightCaret {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-shrink: 0;
    color: var(--mantine-color-gray-5);
  }
}
