
.responseBody {
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--mantine-color-gray-0);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: var(--mantine-font-size-xs);

  pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.tooltipContent {
  padding: 0.5rem;

  > div {
    margin-bottom: 0.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
