.checkoutStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

  h3 {
    text-align: center;
    font-weight: 100;
  }

  .iconContainer {
    background-color: #fff;
    border-radius: 130px;
    border: 2px solid var(--hi-primary);
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 140px;
    }
  }
}

