.tab {
    &[data-active] {
        background-color: var(--mantine-color-primary-light);
        color: var(--mantine-color-primary-light-color);

        &:hover {
            background-color: var(--mantine-color-primary-light-hover);
        }
    }
}
