@use "../../../styles/mixins";

.container {
  padding: 0.5rem;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}
