
.shareBar {
  display: flex;

  > div {
    display: flex;

    &:first-child {
        border-radius: var(--tk-radius-xl) 0 0 var(--tk-radius-xl);
    }

    &:last-of-type {
      border-radius: 0 var(--tk-radius-xl) var(--tk-radius-xl) 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 15px;
    }
  }

  .facebook {
    background-color: #3b5998;
  }

  .whatsapp {
    background-color: #25d366;
  }

  .twitter {
    background-color: #1da1f2;
  }

  .linkedin {
    background-color: #0077b5;
  }

  .tiktok {
    background-color: #000000;
  }

  .telegram {
    background-color: #0088cc;
  }

  .shareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: var(--tk-color-white);
    font-size: 20px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}