@use "../../../styles/mixins";

.container {
  display: flex;
  background-color: #3c2b5c05 !important;
  min-height: 100vh;

  .countdown {
    color: #0ca678;
  }

  .countdownCloseToExpiry {
    color: #ad2f26;
  }

  .timerGroup {
    flex-shrink: 0;
  }

  .timerLabel {
    @include mixins.respond-below(sm) {
      display: none;
    }
  }

  .subTitle {
    font-size: 0.95em;
    margin-top: 10px;
  }

  .mainContent {
    flex: 1;

    .header {
      height: 60px;
      background-color: #ffffff;
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 5px 5px 0 #0000000a;
      text-align: center;

      .actionBar {
        padding: var(--hi-spacing-md);
        width: 100%;

        .title {
          font-size: 1.2em;
          font-weight: 500;
        }
      }

      h1 {
        font-size: 1.3em;
        width: 100%;
        max-width: 700px;
        padding: 0 15px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include mixins.respond-below(md) {
          font-size: 1em;
        }
      }
    }
  }
}
