.header {
  height: 56px;
  background-color: var(--tk-primary);
  border-bottom: 1px solid var(--mantine-color-gray-3);


  .logo {
    display: flex;
    img {
      max-width: 120px;
    }
  }
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
