.reference {
    font-family: var(--mantine-font-family-monospace);
}

.actions {
    padding-top: var(--mantine-spacing-md);
}

.form {
    padding-top: var(--mantine-spacing-lg);
}

.notes {
    white-space: pre-line;
}
