.container {
  padding: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

.attendeeInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
