@use "../auth-common" as auth;

.header {
  @include auth.auth-header;
}

.resetPasswordCard {
  @include auth.auth-card;

  form {
    @include auth.auth-inputs;
    @include auth.auth-button(0.5rem);
  }

  footer {
    @include auth.auth-footer-link;
  }
}

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
