
.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  height: 99%;

  @media print {
    padding: 0;
    max-width: none;
  }
}

.title {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  
  @media print {
    display: none;
  }
}

.ticketPage {
  margin-bottom: 30px;

  @media print {
    margin-bottom: 0;
    page-break-after: always;
    page-break-inside: avoid;

    &:last-of-type {
      page-break-after: auto;
    }
  }

  @media screen {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.poweredBy {
  @media print {
    margin-top: auto;
    padding-top: 30px;
  }
  
  @media screen {
    display: none;
  }
}

.webOnlyFooter {
  margin-top: 30px;
  
  @media print {
    display: none !important;
  }
}
