.poweredBy {
    bottom: 10px;
    left: 10px;
    font-size: 0.9rem;
    z-index: 1000;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .logo {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .poweredByText {
        font-size: 0.9rem;
    }

    .copyRight {
        font-size: 0.6rem;
    }

    a {
        text-decoration: none;
        font-weight: 600;
    }
}