.poweredBy {
    bottom: 10px;
    left: 10px;
    font-size: 0.9rem;
    z-index: 1000;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    a {
        text-decoration: none;
        font-weight: 600;
    }
}