@use "../../../../styles/mixins.scss";

.container {
  margin-bottom: var(--hi-spacing-xl);

  .tabsCard {
    padding: 0;

    @include mixins.respond-below(sm) {
      :global(.mantine-Tabs-tabSection) {
        display: none;
      }

      :global(.mantine-Tabs-tab) {
        padding-inline: 0.5rem;
      }
    }
  }

  .emailChangeAlert {
    margin-bottom: var(--hi-spacing-lg);
  }

  .tabWrapper {
    padding: var(--hi-spacing-xl);

    @include mixins.respond-below(sm) {
      padding: var(--hi-spacing-lg) var(--hi-spacing-md);
    }
  }

  .fieldsetLegend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.emailNotVerified {
  margin-bottom: var(--hi-spacing-lg);
}

