.container {
  margin-bottom: var(--tk-spacing-xl);

  .tabsCard {
    padding: 0;
  }

  .emailChangeAlert {
    margin-bottom: var(--tk-spacing-lg);
  }

  .tabWrapper {
    padding: var(--tk-spacing-xl);
  }
}

.emailNotVerified {
  margin-bottom: var(--tk-spacing-lg);
}

