.container {
  margin-bottom: var(--hi-spacing-xl);

  .tabsCard {
    padding: 0;
  }

  .emailChangeAlert {
    margin-bottom: var(--hi-spacing-lg);
  }

  .tabWrapper {
    padding: var(--hi-spacing-xl);
  }

  .fieldsetLegend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.emailNotVerified {
  margin-bottom: var(--hi-spacing-lg);
}

