.orderSummary {
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.attendee {
  display: flex;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;

  .attendeeName {
    margin-left: 10px;
  }
}