.chartCard {
  margin-top: 20px;

  .chartCardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }
  }

  .dateRange {
    color: #bdbdbd;
  }

  h2:first-child {
    margin-top: 0;
  }
}