.wrapper {
  background: #ffffff;
  padding: var(--hi-spacing-md) var(--hi-spacing-lg);
  margin: calc(var(--hi-spacing-lg) * -1);
  border-bottom: 1px solid #e3e3e3;
  border-radius: var(--hi-radius-lg) var(--hi-radius-lg) 0 0;
  margin-bottom: var(--hi-spacing-lg);

  .heading {
    margin: 0;
    font-weight: 100;
  }

  .description {
    margin: 0;
    font-weight: 300;
    color: #666;
  }
}
