@use "../../../../styles/mixins.scss";

.main {
  position: relative;
  min-height: calc(100vh - 60px);
  height: auto;
  overflow-y: auto;
  padding: 20px 60px 40px;

  @include mixins.scrollbar();

  @include mixins.respond-below(md) {
    padding: 20px 20px 40px;
  }

  .innerContainer {
    max-width: 700px;
    margin: 0 auto;
  }
}
