.imagePreview {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;

  img {
    border-radius: var(--tk-radius-md);
  }

  .deleteButton {
    color: red;
    place-self: flex-end;
    display: flex;
    margin: 10px 0 0;
  }
}

.saveButton {
  margin-top: 20px;
}

.dropZone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  text-align: center;

  span {
    font-size: 0.9em;
    color: #777777;
  }
}