.listItem {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);

    &:hover {
        background-color: var(--mantine-color-gray-1);
    }
}
