@import '../../../styles/mixins';

.showForDesktop {
  display: none;

  @include respond-above('md') {
    display: block;
  }
}

.showForMobile {
  display: block;

  @include respond-above('md') {
    display: none;
  }
}

.hideForDesktop {
  display: block;

  @include respond-above('md') {
    display: none;
  }
}

.hideForMobile {
  display: none;

  @include respond-above('md') {
    display: block;
  }
}
