@use "../../../../styles/mixins.scss";

.header {
  text-align: center;
  margin-bottom: 10px;

  h2 {
    margin: 0 0 5px;
  }

  p {
    margin-top: -0;
  }
}

.registerCard {
  max-width: 500px;
}
