.priceTierCard {
  position: relative;
  padding: var(--tk-spacing-md) var(--tk-spacing-lg);

  .mantine-InputWrapper-root {
    margin-bottom: 0 !important;
  }

  .mantine-SimpleGrid-root {
    margin: 0 !important;
  }

  .removeTier {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }

  .disabled {
    svg {
      color: #b4b4b4;
    }
  }
}