.accountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  border: 1px solid var(--hi-color-gray-2);
  margin-bottom: var(--hi-spacing-md);
  border-radius: var(--hi-radius-md);
  padding: var(--hi-spacing-md);
  background-color: var(--hi-color-gray);

  &:hover {
    background-color: #f5f5f5;
  }

}
