
.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  position: relative;

  .avatar {
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

  .details {
    .status {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: .8rem;
      font-weight: 400;
      color: #9ca3af;
    }

    .date {
      font-size: .8rem;
      font-weight: 400;
      color: #9ca3af;
      display: flex;
      flex: 1;
      gap: 10px;
      margin-bottom: 5px;
      margin-top: 4px;

      .date {
        margin-right: 5px;
      }
    }
    .subject {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .type {
      font-size: .9rem;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .content {
      font-size: 1rem;
      font-weight: 200;
      margin-bottom: 1rem;

      .preview {
        font-size: .9rem;
        font-weight: 400;
        color: #9ca3af;
      }
    }
  }



}