.attendeeDetails {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.attendeeName {
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.attendeeId {
  font-size: 0.85rem;
  color: var(--mantine-color-dimmed);
  line-height: 1.3;
}

.attendeeEmail {
  font-size: 0.85rem;
  line-height: 1.3;
}

.orderTicketContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ticketName {
  font-size: 0.85rem;
  color: var(--mantine-color-dimmed);
  line-height: 1.3;
}

.registrationDate {
  font-size: 0.75rem;
  color: var(--mantine-color-dimmed);
  line-height: 1.3;
}
